<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/MainBootstrap/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link href="~/MainBootstrap/assets/vendor/fonts/circular-std/style.css" rel="stylesheet">
    <link rel="stylesheet" href="~/MainBootstrap/assets/libs/css/style.css">
    <link rel="stylesheet" href="~/MainBootstrap/assets/vendor/fonts/fontawesome/css/fontawesome-all.css">
    <link rel="stylesheet" type="text/css" href="~/MainBootstrap/assets/vendor/datatables/css/dataTables.bootstrap4.css">
    <link rel="stylesheet" type="text/css" href="~/MainBootstrap/assets/vendor/datatables/css/buttons.bootstrap4.css">
    <link rel="stylesheet" type="text/css" href="~/MainBootstrap/assets/vendor/datatables/css/select.bootstrap4.css">
    <link rel="stylesheet" type="text/css" href="~/MainBootstrap/assets/vendor/datatables/css/fixedHeader.bootstrap4.css">
    <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="~/MainBootstrap/documentation/css/custom.css">

    <script src="~/MainBootstrap/assets/vendor/jquery/jquery-3.3.1.min.js"></script>
    <script src="~/MainBootstrap/assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="~/MainBootstrap/assets/vendor/slimscroll/jquery.slimscroll.js"></script>
    <script src="~/MainBootstrap/assets/vendor/multi-select/js/jquery.multi-select.js"></script>
    <script src="~/MainBootstrap/assets/libs/js/main-js.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="~/MainBootstrap/assets/vendor/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
    <script src="~/MainBootstrap/assets/vendor/datatables/js/buttons.bootstrap4.min.js"></script>
    <script src="~/MainBootstrap/assets/vendor/datatables/js/data-table.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.colVis.min.js"></script>
    <script src="https://cdn.datatables.net/rowgroup/1.0.4/js/dataTables.rowGroup.min.js"></script>
    <script src="https://cdn.datatables.net/select/1.2.7/js/dataTables.select.min.js"></script>
    <script src="https://cdn.datatables.net/fixedheader/3.1.5/js/dataTables.fixedHeader.min.js"></script>

</head>

<body>
    <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
    <meta name="google-signin-client_id" content="1076827265770-m6m4tflctimmghrahqn5c6pnrm1n5o5p.apps.googleusercontent.com">
    <script>
        window.onload = saveToken();
        function onLoad() {
            gapi.load('auth2', function () {
                gapi.auth2.init();
            });
        }

        function signOut() {
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut();
            localStorage.removeItem('token');
            window.location.href = '@Url.Action("Login", "Account")';
        }

        function saveToken() {
            var token = '@ViewBag.token';
            if (token != null) {
                localStorage.setItem('token', token);
            }
        }

        function showEquipmentGroup() {
            window.location.href = '@Url.Action("ShowAll", "EquipmentGroup")';
        }

        function showEquipment() {
            window.location.href = '@Url.Action("ShowAll", "Equipment")';
        }

        function showFeedback() {
            window.location.href = '@Url.Action("ShowAll", "Feedback")';
        }
        function ShowAccount() {
            var adminName = '@ViewBag.adminName';
            window.location.href = '@Url.Action("DisplayAccountByAdminName", "Account")';
        }

        function ShowThanks() {
            window.location.href = '@Url.Action("ShowThanks", "Thanks")';
        }
        function ShowGift() {
            window.location.href = '@Url.Action("ShowGift", "Gift")';
        }
        function Show() {
            window.location.href = '@Url.Action("Show", "Admin")';
        }

        function ShowImage() {
            window.location.href = '@Url.Action("ShowAll", "Image")';
        }
    </script>
    <!-- ============================================================== -->
    <!-- main wrapper -->
    <!-- ============================================================== -->
    <div class="dashboard-main-wrapper">
        <!-- ============================================================== -->
        <!-- navbar -->
        <!-- ============================================================== -->
        <div class="dashboard-header">
            <nav class="navbar navbar-expand-lg bg-white fixed-top">
                <a class="navbar-brand" href="~/MainBootstrap/index.html">FEEDBACK.VN</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto navbar-right-top">
                        <li class="nav-item dropdown nav-user">
                            <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user-circle"></i></a>
                            <div class="dropdown-menu dropdown-menu-right nav-user-dropdown" aria-labelledby="navbarDropdownMenuLink2">
                                <div class="nav-user-info">
                                    <h5 class="mb-0 text-white nav-user-name">
                                        @ViewBag.email
                                    </h5>
                                    <span class="status"></span><span class="ml-2">Available</span>
                                </div>
                                <a class="dropdown-item" href="#"><i class="fas fa-user mr-2"></i>Account</a>
                                <a class="dropdown-item" href="#"><i class="fas fa-cog mr-2"></i>Setting</a>
                                <a class="dropdown-item" href="#" onclick="signOut();"><i class="fas fa-power-off mr-2"></i>Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- ============================================================== -->
        <!-- end navbar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- left sidebar -->
        <!-- ============================================================== -->
        <div class="nav-left-sidebar sidebar-dark">
            <div class="menu-list">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="d-xl-none d-lg-none" href="#">Dashboard</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav flex-column">
                            <li class="nav-item ">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-1" aria-controls="submenu-1"  onclick="Show()"><i class="fas fa-fw fa-chart-pie" style="color:white;"></i>Quản lí thống kê <span class="badge badge-success">6</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-2" aria-controls="submenu-2" onclick="ShowAccount()"><i class="fa fa-fw fa-user-circle" style="color:white;"></i>Quản lí tài khoản</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-3" aria-controls="submenu-3" onclick="showFeedback()"><i class="fas fa-fw fa-chart-pie" style="color:white;"></i>Quản lí khảo sát</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-4" aria-controls="submenu-4" onclick="showEquipmentGroup()"><i class="fas fa-fw fa-users" style="color:white;"></i>Quản lí nhóm thiết bị</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-5" aria-controls="submenu-5" onclick="showEquipment()"><i class="fas fa-fw fa-desktop" style="color:white;"></i>Quản lí thiết bị</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-6" aria-controls="submenu-6" onclick="ShowGift()"><i class="fas fa-fw fa-gift" style="color:white;"></i>Quản lí quà tặng</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-7" aria-controls="submenu-7" onclick="ShowThanks()"><i class="fas fa-fw fa-heart" style="color:white;"></i>Quản lí cảm ơn <span class="badge badge-secondary">New</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-9" aria-controls="submenu-9" onclick="ShowImage()"><i class="fas fa-fw fa-images" style="color:white;"></i>Quản lí hình ảnh</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end left sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- wrapper  -->
        <!-- ============================================================== -->
        <div class="dashboard-wrapper">
            @RenderBody()
        </div>
        <!-- ============================================================== -->
        <!-- end main wrapper -->
        <!-- ============================================================== -->
        <!-- Optional JavaScript -->

        @RenderSection("scripts", required: false)
    </div>
</body>

</html>